body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header nav {
    /* background: rgb(250, 127, 147); */
    background-color: rgb(70, 190, 238);
}

header nav, nav div {
    color: white;
    width: 100%;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    font-size: large;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

nav ul li select {
    width: 100%;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 5px;
}

nav ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

nav ul li:hover {
    /* background-color: rgb(214, 105, 123); */
    background-color: rgb(53, 146, 184);
}

section {
    padding-top: 10px;
}

section .verPrendas {
    width: 100%;
    height: auto;
    display: none; 
    /*----------------------------------------------------------------------------------------------*/
}

section .verPrendas .contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 3%;
}

.contenedor .cuadro {
    border: 1px solid rgb(70, 190, 238);
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
}

.contenedor .cuadro img {
    width: 100%;
}

.contenedor .cuadro .check {
    width: 100%;
    text-align: right;
}

.contenedor .cuadro input {
    outline: none;
}

.contenedor .cuadro .texto {
    width: 100%;
    text-align: center;
    background-color: rgb(70, 190, 238);
    padding: 5px 0 5px 0;
}

.divBotones {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divBotones .botones {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}


.divBotones .botones div button {
    width: 100%;
    border: none;
    color: white;
    height: 30px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}


.botones .select button:hover {
    background-color: rgb(21, 136, 100);
}

.botones .select button, .botones .select button:active {
    background-color: rgb(23, 158, 115);
}

.botones .delete button:hover {
    background-color: rgb(155, 58, 58);
}

.botones .delete button, .botones .delete button:active {
    background-color: rgb(173, 66, 66);
}

section .fondoModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: rgba(29, 29, 29, 0.329);
    display: flex; 
    /*--------------------------------------------------------------------------------- */
    display: none; 
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.fondoModal .modal {
    width: 100%;
    max-width: 800px;
    height: auto;
    background-color: white;
    border-radius: 7px;
    margin-top: 70px;
}

.fondoModal .modal .close {
    width: 100%;
    text-align: right;
}

.fondoModal .modal .close i {
    margin: 10px;
    font-size: large;
}

.fondoModal .modal .close i:hover {
    color: rgb(173, 66, 66);
    cursor: pointer;
}

.fondoModal .modal .seccion1 {
    width: 100%;
}

.fondoModal .modal .seccion1 .imagen {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.seccion1 .imagen img {
    width: 300px;
    height: auto;
    max-height: 400px;
}

.modal .botones {
    width: 100%;
    display: flex;
}

.modal .botones {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal .botones .contenedor {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.modal .botones .contenedor div button {
    width: 100%;
    border: none;
    color: white;
    height: 30px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

.modal .botones .contenedor .editar button {
    background-color: rgb(23, 158, 115);
}

.modal .botones .contenedor .editar button:hover {
    background-color: rgb(20, 139, 102);
}

.modal .botones .contenedor .editar button:active {
    background-color: rgb(23, 158, 115);
}

.modal .botones .contenedor .delete button {
    background-color: rgb(173, 66, 66);
}

.modal .botones .contenedor .delete button:hover {
    background-color: rgb(143, 55, 55);
}

.modal .botones .contenedor .delete button:active {
    background-color: rgb(173, 66, 66);
}

.modal .seccion2 {
    width: 100%;
    background-color: rgb(53, 146, 184);
    color: white;
    padding-top: 50px;
}

.modal .seccion2 .inputs {
    padding: 0 50px 20px 50px;
}

.modal .seccion2 .inputs input {
    outline: none;
    width: auto;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: medium;
}

.modal .seccion2 .save {
    width: 100%;
    text-align: right;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.modal .seccion2 .save button {
    width: 200px;
    border: none;
    color: white;
    height: 30px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(30, 204, 149);
}

.modal .seccion2 .save button:hover {
    background-color: rgb(25, 165, 121);
}

.modal .seccion2 .save button:active {
    background-color: rgb(30, 204, 149);
}

.queMePongo h1 {
    font-size: xx-large;
    color: rgb(53, 146, 184);
    margin: 3% 0 3% 5%;
}

.queMePongo .opciones input {
    outline: none;
    font-size: large;
}

.queMePongo .opciones label {
    font-size: large;
}

.ocasion, .otroFiltro, .gorros, .zapatos, .vestidos {
    color: rgb(29, 29, 29);
}

.filtros input[type="checkbox"]{
    width: 15px;
    height: 15px;
}

.filtros {
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    align-items: center;
}

.otroFiltro input, .ocasion select {
    margin-top: 15px;
}

.filtros .ocasion select {
    width: 200px;
    outline: none;
    font-size: large;
}

.filtros .divBoton button {
    width: 150px;
    border: none;
    color: white;
    height: 40px;
    cursor: pointer;
    font-size: large;
    border-radius: 5px;
}

.filtros .divBoton button:hover {
    background-color: rgb(32, 173, 128);
}

.filtros .divBoton button, .filtros .divBoton button:active {
    background-color: rgb(25, 133, 99);
}

.queMePongo .resultado {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    display: none;
    /*-----------------------------------------------------------------------------------------------------*/
}

.queMePongo .resultado .contenedor {
    border: 1px solid rgb(53, 146, 184);
    border-radius: 7px;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(53, 147, 184, 0.404);
}

.resultado .contenedor .prendaResult {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.resultado .contenedor .prendaResult div {
    margin-left: 10%;
    width: 200px;
}

.resultado .contenedor .prendaResult div img {
    width: 100%;
}

.resultado .botones {
    width: 100%;
    padding: 3%;
}

.resultado .botones .divBotones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    grid-gap: 30px;
    text-align: center;
}

.resultado .botones div button {
    margin: 10px;
    width: 50%;
    border: none;
    color: white;
    height: 40px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

.resultado .botones .btn1:hover {
    background-color: rgb(139, 53, 53);
}

.resultado .botones .btn1, .resultado .botones .btn1:active {
    background-color: rgb(173, 66, 66);
}

.resultado .botones .btn2:hover {
    background-color: rgb(19, 131, 95);
}

.resultado .botones .btn2, .resultado .botones .btn2:active {
    background-color: rgb(25, 165, 121);
}

.añadir {
    padding: 0 30px 50px 30px;
    border-bottom: 1px solid teal;
    display: flex;
    justify-content: center;
    display: none;
    /*------------------------------------------------------------------------------------------------*/
}

.añadir .contenido {
    width: 100%;
    max-width: 500px;
}

.añadir .titulo {
    width: 100%;
    color: rgb(53, 146, 184);
    text-align: center;
}

.añadir .titulo h1 {
    font-size: xx-large;
}

.añadir .inputs {
    text-align: center;
}

.añadir .inputs div {
    margin-bottom: 15px;
}

.añadir .inputs input {
    margin-left: 10px;
}

.añadir .inputs div input[type="text"] {
    border: 1px solid rgb(53, 146, 184);
    border-radius: 7px;
    width: 100%;
    max-width: 250px;
    height: 20px;
}

.añadir .botones {
    width: 100%;
}

.añadir .botones .divBotones {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 30px;
    text-align: center;
}

.añadir .botones .divBotones div button {
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25, 165, 121);
    color: white;
    font-size: large;
    cursor: pointer;
}

.añadir .botones .divBotones div button:hover {
    background-color: rgb(20, 128, 93);
}

.añadir .botones .divBotones div button:active {
    background-color: rgb(25, 165, 121);
}